.btn-cancel{
    background-color: white;
 color:#6C63FF;;
 border-radius: 12px;
 padding: 0.3rem 1rem;
 display:block;
 margin:0 4px 0 4px;
 border: none;
 outline: none;
 box-shadow: 2px 2px 2px 2px #6b63ff78;;
}
.btn-submit{
 background-color: #6C63FF;
 color:white;
 border-radius: 12px;
 padding: 0.3rem 1rem;
 display:block;
 margin:0 4px 0 4px;
 border: none;
 outline: none;
}
.row{
    justify-content: center;
    
}

.form-style{

   
    padding:20px;
}
.form-col{
    
}